@import "tailwindcss";

@theme {
	--color-surface-default: oklch(16.548% 0.02564 180.962);
	--color-surface-muted: oklch(22.031% 0.02153 180.19);
	
	--color-text-primary: oklch(0.849 0.0077 164.9);
	--color-text-secondary: oklch(0.6824 0.0145 166.97);
	--color-text-tertiary: oklch(51.176% 0.01266 167.669);
	--color-text-heading: oklch(0.9631 0.0017 145.56);
	
	--color-accent-green: oklch(0.696 0.0663 125.78);
	--color-accent-peach: oklch(0.7383 0.0306 17.87);
	--color-accent-purple: oklch(0.7349 0.0396 307.86);
	--color-accent-blue: oklch(62.892% 0.04511 233.113);
}

/* 
* {
	@apply border border-blue-500
}
*/

body {
	@apply bg-surface-default;
	@apply text-text-primary text-base leading-[1.5];
}

main h1 {
	@apply text-2xl font-bold text-text-heading;
}

main h2 {
	@apply text-xl font-semibold text-text-heading mb-3 mt-8;
}

main h3 {
	@apply text-lg font-medium text-text-heading mb-4 mt-6;
}

main h1:first-child,
main h2:first-child,
main h3:first-child {
	@apply mt-0;
}

main ul {
  @apply mb-4 ml-6;
  list-style-type: disc;
}
main ul ul {
  @apply mt-1 mb-1;
  list-style-type: circle;
}

main ol {
  @apply mb-4 ml-6;
  list-style-type: decimal;
}
main ol {
  list-style-type: lower-alpha;
}

main li {
  @apply mb-1;
}

main p {
	@apply mb-4
}

main p:last-child {
	margin-bottom: 0;
}

pre {
@apply mb-4 text-wrap
}

a {
	@apply no-underline
}

main p a {
	@apply underline underline-offset-4 decoration-2 text-accent-green hover:brightness-150 transition
}

main code {
  @apply bg-surface-muted text-accent-blue px-1.5 py-0.5 rounded text-sm font-mono;
}

main pre {
	@apply bg-surface-muted px-8 py-0 max-w-fit rounded-lg overflow-x-auto;
}