@import "tailwindcss";

@theme {
	--color-surface-default: oklch(16.548% 0.02564 180.962);
	--color-surface-muted: oklch(27.119% 0.04646 176.498);
	
	--color-text-primary: oklch(0.849 0.0077 164.9);
	--color-text-secondary: oklch(0.6824 0.0145 166.97);
	--color-text-heading: oklch(0.9631 0.0017 145.56);
	
	--color-accent-green: oklch(0.696 0.0663 125.78);
	--color-accent-peach: oklch(0.7383 0.0306 17.87);
	--color-accent-purple: oklch(0.7349 0.0396 307.86);
	--color-accent-blue: oklch(62.892% 0.04511 233.113);
}

/* 
* {
	@apply border border-blue-500
}
*/

body {
	@apply bg-surface-default text-base leading-[1.5];
	@apply text-text-primary;
}

a {
	@apply no-underline
}

main a {
	@apply underline decoration-3
}